.card {
  width: 600px;
  height: 220px;
  display: flex;
  overflow: hidden;
  text-align: left;
  background: rgb(60, 62, 68) none repeat scroll 0% 0%;
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  @media screen and (max-width: 40.625em) {
    flex-direction: column;
    height: initial;
    width: 100%;
  }
}
.card-image--wrapper {
  flex: 2 1 0%;
  width: 100%;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
  @media screen and (max-width: 40.625em) {
    height: 300px;
  }
}

.card-body {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
